global:
  resolve_timeout: 1m

route:
  receiver: "email-alerts"
  group_by: ["alertname"]
  group_wait: 10s
  group_interval: 30s
  repeat_interval: 1h

receivers:
  - name: "email-alerts"
    email_configs:
      - to: "your-email@gmail.com"
        from: "grafana-alerts@gmail.com"
        smarthost: "smtp.gmail.com:587"
        auth_username: "grafana-alerts@gmail.com"
        auth_password: "9424078372"
